doctype html
html(ng-app='App')
  head
    meta(charset="utf-8")
    title 地域メッシュJavascript

    //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
   
  body 
    
    main(role='main')
      //---- メイン
      .jumbotron
        .container
          h1.display-3 地域メッシュ作成
          p
            | Javascriptで地域メッシュを作成するライブラリのサンプルページです。激しいメモリ消費、ブラウザのクラッシュなどに注意してください。
          p
            a.btn.btn-primary.btn-lg(href='./leaflet.html', role='button') サンプルアプリ »
      .container
        //------ サブ
        .row
          .col-md-3
            h2 性能測定
            p
              | 標準的な処理の処理速度を計測します。
            p
              a.btn.btn-secondary(href='./benchmark.html', role='button') 測定へ »
          .col-md-3
            h2 テスト
            p
              | 単体試験の網羅率を示します。試験内容が妥当かどうかはコードを確認してください。
            p
              a.btn.btn-secondary(href='./html-report/index.html', role='button') コードカバレッジ »
          .col-md-3
            h2 API リファレンス
            p
              | Typescriptの外部定義情報を示します。
            P
              a.btn.btn-secondary(href='./apiref/globals.html', role='button') API リファレンス »
          .col-md-3
            h2 ソースコード
            p
              | Typescriptで記述されています。
            p
              a.btn.btn-secondary(href='https://github.com/MALORGIS/jisX0410', role='button') 確認 »
        hr

